.htaccess
.idea
.project
.metadata
bin/
tmp/
locale/
etc/*
design/
code/core/
code/community/*
etc/modules/
*.tmp
*.bak
Mage.php
!etc/modules/Codisto*
!code/community/Codisto
!code/community/Codisto/Sync