<?xml version="1.0" encoding="UTF-8"?>
<config>

	<modules>
		<Codisto_Sync>
			<version>0.1.0</version>
			<depends>
				<Mage_Payment/>
			</depends>
		</Codisto_Sync>
	</modules>
	<global>
		<models>
			<ebaypayment>
				<class>Codisto_Ebaypayment_Model</class>
			</ebaypayment>
		</models>
		<resources>
			<Codisto_Sync_setup>
				<setup>
					<module>Codisto_Sync</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</Codisto_Sync_setup>
			<Codisto_Sync_write>
				<connection>
					<use>local_write</use>
				</connection>
			</Codisto_Sync_write>
			<Codisto_Sync_read>
				<connection>
					<use>local_read</use>
				</connection>
			</Codisto_Sync_read>
		</resources>
		<blocks>
			<modulename>
				<class>Codisto_Sync_Block</class>
			</modulename>
			<adminhtml>
				<rewrite>
					<catalog_product_edit_tabs>Codisto_Sync_Block_Adminhtml_Tabs</catalog_product_edit_tabs>
				</rewrite>
			</adminhtml>
		</blocks>
	</global>
	<frontend>
		<routers>
			<codisto-sync>
				<use>standard</use>
				<args>
					<module>Codisto_Sync</module>
					<frontName>codisto-sync</frontName>
				</args>
			</codisto-sync>
		</routers>
	</frontend>

	<default>
		<payment>
			<ebaypayment>
				<active>1</active>
				<model>ebaypayment/paymentmethod</model>
				<order_status>pending</order_status>
				<title>Ebay Order Awaiting Checkout Completion</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</ebaypayment>
		</payment>
	</default>
	<helpers>
		<helloworld>
			<class>Codisto_Sync_Helloworld_Helper</class>
		</helloworld>
	</helpers>
</config>